{% extends 'base.html'%} {% block content %}
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %} Hello , {{ user.username }}
        <a style="text-decoration: none" id="a1" href="{% url 'logout' %}"
          >Logout</a
        >
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'create_account' %}"> Create a Account</a>

        {% else %} >
        <a style="text-decoration: none" id="a1" href="{% url 'user_login' %}"
          >Login</a
        >
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <h1>My Accounts</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
      <tbody>
        {% for item in accounts %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.number }}</td>
          <td>{{ item.receipts.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
{% endblock content %}
