{% extends 'base.html'%} {% block content %}
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %} Hello , {{ user.username }}
        <a style="text-decoration: none" id="a1" href="{% url 'logout' %}"
          >Logout</a
        >
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'account_list' %}">Account</a>
        <a href="{% url 'create_receipt' %}">Create a Receipt</a>
        {% else %} >
        <a style="text-decoration: none" id="a1" href="{% url 'user_login' %}"
          >Login</a
        >
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <h1>My Receipts</h1>
    <table>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
      <tbody>
        {% for item in receipts %}
        <tr>
          <td>{{ item.vendor }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.tax }}</td>
          <td>{{ item.date|date:"m/d/y" }}</td>
          <td>{{ item.category.name }}</td>
          <td>{{ item.account.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
{% endblock content %}
